@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');




*{
    transform: translateY(5%);
}

h1{
    font-size: 5rem;
    font-family: 'Sen', sans-serif;
    font-weight: bolder;
    padding-left: 2rem;
    width:fit-content;
}

.tema1{
    color: #edf0f1;
}

.tema2{
    color: rgb(253, 193, 29);
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #24252A;
    border: none;
    border-radius: 1.5rem;
}

.contenedor{
    background-image: url(https://drive.google.com/uc?export=view&id=1MQVJGZB5E7x-GiCvRVBrpDG41EEiBiBQ);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}



 


