/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

body{
    background-color: #fff9d4
}

h1{
    font-size: 60px;
    font-family: 'Sen', sans-serif;
}
.container {
    padding-top: 20px;

}