<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <article class="movies-container py-5">
                <section class="movies-item">
                    <div class="card" style="width: auto">
                        <img src="https://via.placeholder.com/100" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"></h5>
                          <p class="card-text"></p>
                          <button [routerLink]="['/obras']" class="btn btn-primary">Volver</button>
                        </div>
                      </div>
                </section>
            </article>
        </div>
    </div>
</div>

