<div class="card mb-3">
    <div class="row g-2">
      <div class="card-image col-md-5">
        <img src="https://via.placeholder.com/100" class="img-fluid rounded-start" alt="...">
      </div>
      <div class=" contenido col-md-7">
        <div class="card-body">
            <h5 class="card-title">{{ obra.nombre | uppercase}}</h5>
            <hr>
            <p class="desc">{{ obra.descripcion }}</p>
            <p class="card-text">Tamaño: {{obra.tamanio}}</p>
            <p class="card-text">Año: {{obra.anio}}</p>
            <p class="card-text">Colección: {{obra.coleccion}}</p>
            <div class="container">
              <button [routerLink]="['/contacto']" class="btn boton-consulta">Consultar</button>
              <button [routerLink]="['/obras']" class="btn ">Volver</button>
            </div>
          </div>
      </div>
    </div>
  </div>
