.movies {
    &-container {
        display: grid;
        padding-top: 1.5rem;
        padding-left: 7rem;
        padding-right: 7rem;
        grid-template-columns: 1fr;
        gap: 3rem;
        
        @media (min-width: 768px) {
            grid-template-columns: repeat(2,1fr)
         }
        
        @media (min-width: 992px) {
            grid-template-columns: repeat(4,1fr)
         }
    }

}