.gradiente {
    background-color: $c-main;
    //background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 26.91%, #000000 100%);
    width: 50%;
    min-height: 650px;

    .btn-verde{
        background-color: greenyellow;
        &.hover{
            background-color: darken(greenyellow, 50%);
        }
    }

    &.rojo{
        background-color: red;
    }
}