/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

body{
    background-image: url(https://drive.google.com/uc?export=view&id=1iWL6b9C1vUpy07mrxLniqUPm0QclS-k8);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1{
    font-size: 60px;
    font-family: 'Sen', sans-serif;
}
.container {
    padding-top: 20px;

}
html, body { height: 100%; }

