<div class="contenedor">
    <div class="texto">      
        <h1 class="titulo">Bienvenido a Raúl: Art Gallery</h1>
        <p class="second-title">Arte minimalista.</p>
        <p class="texto2">📍Rosario, Argentina.</p>    
        <p class="texto2">Todos los trabajos son realizados con materiales reciclados y sustentables.</p>
        <div class="instagram">
            <a href="https://www.instagram.com/raulalvarezsalas/"><i class="bi bi-instagram"></i>Instagram</a>
        </div>
    </div>  
    <div class="imagen">
        <img src="https://drive.google.com/uc?export=view&id=1rLQFMkyUJ-nRiy1UUm1K3RIMQ5ZDjCsH" alt="Obra Ejemplo">
    </div>
</div>

