<div class="contenedor">
    <div class="texto">      
        <h1 class="titulo">Bienvenido a Raúl: Art Gallery</h1>
        <p class="second-title">Arte minimalista.</p>
        <p class="lead">📍Rosario, Argentina.</p>    
        <p class="lead">Todos los trabajos son realizados con materiales reciclados y sustentables.</p>
    </div>
    <div class="imagen">
        <img src="https://drive.google.com/uc?export=view&id=1rLQFMkyUJ-nRiy1UUm1K3RIMQ5ZDjCsH" alt="Obra Ejemplo">
    </div>
</div>

