@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans&display=swap');


*{
    font-family: 'Sen', sans-serif;
    font-weight: lighter;
    color: white;
}

.login{
    white-space: nowrap;
    font-size: 18px;
    background-color: rgb(26, 149, 143);
    border: none;
    border-radius: 10px;
    margin-left: 1rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.login:hover{
    color: white;
    background-color:rgb(26, 141, 135) }

.logout{
    background-color: rgb(175, 2, 2);
    white-space: nowrap;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin-left: 1rem;
    transition: all 0.3s ease 0s;
}

.logout:hover{
    color: white;
    background-color:rgb(126, 1, 1) }