<form class="container">

    <div>
        <div class="texto">
            <h2>Contactanos! </h2>
            <h2 class="happyface">:)</h2>
        </div>
            <div class="datoscontainer">
                <input type="text" class="field nombre" placeholder="Nombre">
                <input type="email" class="field largo" placeholder="Correo Electrónico">
            </div>
            <textarea class="field placeholder" placeholder="Tu duda o mensaje"></textarea>
    </div>
    <div class="boton" type="submit">
        <button [routerLink]="['/obras']">Enviar</button>
    </div>
    
</form>

