@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

nav{
    background-color: #24252A;
}

.navbar-brand{
    font-size: 36px;
    font-family: 'Parisienne', cursive;
    padding-right: 10px;
}


li, a, button{
    font-family: 'Sen', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #edf0f1;
    text-decoration: none;
}

.navbar-nav{
    list-style: none;
}

.navbar-nav li{
    display: inline-block;   
}

.navbar-nav li a{
    transition: all 0.3s ease 0s;  
}

.navbar-nav li a:hover{
    color: #0088a9; 
}
