@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

nav{
    background-color: #555350    ;
    width: 100%;
    height: 4rem;
    z-index: 12;
    position: fixed;
}


.logo{
    font-size: 3rem;
    font-family: 'Parisienne', cursive;
    padding-right: 2rem;
    transition: all 0.4s ease 0s
}

.logo:hover{
    color: rgb(253, 193, 29)
}


li, a, button{
    font-family: 'Sen', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #edf0f1;
    text-decoration: none;
}

.navbar-nav{
    list-style: none;
}

.navbar-nav li{
    display: inline-block; 
}

.navbar-nav li a{
    transition: all 0.3s ease 0s;
}

.navbar-nav li a:hover{
    color: rgb(253, 193, 29)
}
