<form (submit)="filter($event) "class="d-flex">
    <input 
            class="form-control mr-sm-2" 
            type="search" 
            placeholder="Escriba aquí"
            aria-label="Search"
            id="search"
            name="search"
            [(ngModel)]="search">
    <button class="btn buscar" type="submit"><i class="bi bi-search"></i>Buscar</button>
    <button *ngIf="clear" (click)="onClear()" class="limpiar" type="clear"><i class="bi bi-trash-fill"></i>Limpiar Búsqueda</button>
</form>

