@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');


*   {
    font-family: 'Sen', sans-serif;
    display: flex;

}

.form-control{
    border: none;
    border-radius: 0.5rem;
}

form{
    gap: 0.5rem;
}

button {
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
}

button:hover{
    background-color: rgba(253, 193, 40, 0.8);
}

